// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////// Photo Tagging //////////
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}
.tagging-cursor {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 5px solid red;
  position: absolute;
  top: 80px;
  left: 0px;
  box-sizing: border-box;
  pointer-events: none;
}

.img-container {
  display: inline-block;
  height: 880px;
  width: 1400px;
  img {
    height: 100%;
    width: 100%;
  }
}

.showing {
  display: block;
}

.tag {
  height: 100px;
  width: 100px;
  border: 2px solid green;
  position: absolute;
  box-sizing: border-box;

  .hover-info {
    display: none;
  }

  &:hover .hover-info {
    display: block;
    background: #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
}

.new-tag {
  border-color: blue;
}

.dropdown {
  position: absolute;
  background: #ccc;
  padding: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  display: none;

  .character {
    padding: 5px;
    color: #888;
  }

  .untagged {
    cursor: pointer;
    color: black;

    &:hover {
      background: #777;
    }
  }
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
  position: absolute;
  top: 90px;
}